@charset "UTF-8";
/*FONTS    LOBSTER | OSWALD | BITTER | BEBAS NEUE  Importadas do GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Hubballi&family=Inter&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Hubballi&family=Inter&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Hubballi&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Hubballi&family=Inter&display=swap");
/*Variáveis*/
:root {
  --colorblack:#040305;
  --colorPurple:#9800ce;
  --colorgray:rgb(87,87,87);
}

/*Corpo da página*/
body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  background-color: rgb(87, 62, 62);
  background-image: url(/imgs/ruby_fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Todos os links*/
a {
  text-decoration: none;
  color: white;
  margin: 0;
}

.grid_column {
  display: grid;
  grid-auto-flow: column;
}

/* HEADER */
header {
  display: grid;
  grid-auto-flow: column;
  box-sizing: border-box;
  background-color: black;
  padding: 0 20px 0 20px;
  width: 100%;
  position: sticky;
  top: 0;
  /* column 2 */
}
header a img {
  margin-top: 5px;
  width: 50px;
  opacity: 0.9;
}
header span {
  color: rgba(160, 35, 35, 0.822);
  font-family: "Lobster", cursive;
  font-size: 20px;
  animation-name: brilho;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
header span:nth-of-type(2) {
  animation-delay: 0.25s;
}
header span:nth-of-type(3) {
  animation-delay: 0.5s;
}
header span:nth-of-type(4) {
  animation-delay: 0.75s;
}
header span:nth-of-type(5) {
  animation-delay: 1s;
}
header span:nth-of-type(6) {
  animation-delay: 1.25s;
}
header span:nth-of-type(7) {
  animation-delay: 1.5s;
}
header span:nth-of-type(8) {
  animation-delay: 1.75s;
}
header span:nth-of-type(9) {
  animation-delay: 2s;
}
header span:nth-of-type(10) {
  animation-delay: 2.25s;
}
header span:nth-of-type(11) {
  animation-delay: 2.5s;
}
header span:nth-of-type(12) {
  animation-delay: 2.75s;
}
header span:nth-of-type(13) {
  animation-delay: 3s;
}
header main {
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  padding: 0px 0px 0px 50px;
}
header main a:hover {
  color: #e7cef0;
  transition: 500ms;
}

@keyframes brilho {
  0% {
    color: rgba(161, 33, 207, 0.7176470588);
    text-shadow: 0 0 12px var(--colorPurple), 0 0 50px var(--colorPurple) 0 0 100px var(--colorPurple);
  }
  60% {
    color: rgb(197, 88, 88);
    text-shadow: none;
  }
  80% {
    color: rgb(150, 119, 150);
  }
}
/*LINKs DE DENTRO DA PÁGINA*/
.div_links_dentro_pg {
  margin: auto;
  margin-top: 10px;
  width: 850px;
  display: grid;
  grid-auto-flow: column;
  background-color: white;
  height: 158px;
  margin-bottom: 0px;
  padding: 8px 25px 8px 25px;
  box-sizing: border-box;
  position: sticky;
  top: 59.44px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.575);
}

.div_links_dentro_pg a {
  color: black;
  line-height: 25px;
  font-family: "Bitter", serif;
  color: rgb(63, 19, 57);
}

.ul_img {
  list-style-image: url(/imgs/ruby_ul_link.png);
  margin: 0;
}

/* CONTENT */
#content {
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 0;
  max-width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 5px 10px 3px darkred;
}

#content div {
  padding: 20px 30px 10px 30px;
}

#content div h3 {
  color: darkred;
  font-size: 30px;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}

#content div p {
  font-size: 18px;
  font-family: "Bitter", serif;
  line-height: 40px;
  text-align: justify;
  color: rgb(68, 67, 67);
}

/*COR LINK DOS PARÁGRAFOS*/
#content div p a {
  color: rgba(212, 43, 85, 0.7176470588);
  font-style: italic;
}

#content div p a:hover {
  color: rgb(211, 89, 195);
  transition: 500ms;
  animation-name: sombra_p;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transition: 500ms;
}

@keyframes sombra_p {
  0% {
    color: rgb(211, 89, 195);
    text-shadow: 0 0 12px var(--colorPurple), 0 0 50px var(--colorPurple) 0 0 100px var(--colorPurple);
    transition: 500ms;
  }
  10% {
    color: rgb(151, 76, 141);
    transition: 500ms;
  }
  90% {
    color: rgb(189, 30, 168);
    transition: 500ms;
  }
}
#content div p a:active {
  color: rgba(123, 190, 14, 0.904);
}

.img_yukihiro {
  float: right;
  border-radius: 5px;
  width: 150px;
  padding: 0px 0px 0px 20px;
}

.python_logo {
  margin-left: 15px;
}

.eifell_logo {
  width: 100px;
  margin-left: 15px;
  margin-left: 15px;
}

.ada_logo {
  width: 90px;
  height: 30px;
  margin-top: 20px;
  margin-left: 15px;
}

.lisp_logo {
  width: 70px;
  margin-top: 10px;
  margin-left: 5px;
  margin-left: 15px;
}

.smaltake_logo {
  width: 100px;
  height: 40px;
  margin-left: 15px;
}

.david_img {
  float: left;
  width: 150px;
  padding-right: 10px;
  border-radius: 5px;
}

.groovy_logo {
  width: 100px;
  height: 50px;
}

.falcon_logo {
  width: 100px;
}

.linguagem_d_logo {
  width: 100px;
  height: 50px;
}

/*EMPRESAS QUE UTILIZAM RUBY ON RAILS*/
.margin_left {
  margin-left: 25px;
  text-align: center;
}

.airbud_logo {
  width: 100px;
}

.hulu_logo {
  width: 100px;
}

.soundcloud_logo {
  width: 100px;
  height: 40px;
}

.slidesshare_logo {
  width: 100px;
}

.Zendesk_logo {
  width: 100px;
}

.github_lg {
  width: 100px;
}

.shopify_logo {
  width: 100px;
  margin-bottom: 15px;
}

.basecamp_logo {
  width: 100px;
  margin-bottom: 15px;
}

/*ESTILO DA LISTA ESQUERDA DA PÁGINA | COM LOGO DE RUBY*/
#content div ul {
  color: #825692;
  font-size: 20px;
  font-family: "Bitter", serif;
  line-height: 40px;
}

ul {
  list-style-image: url(/imgs/ruby_logo20px.png);
}

/* CONTENT 2 */
.content_2 {
  background-color: white;
  max-width: 100%;
  height: 100%;
  background-color: white;
  padding: 50px 100px 10px 100px;
}

.content_2 h3 {
  color: darkred;
  font-size: 28px;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}

.content_2 p {
  font-size: 18px;
  font-family: "Bitter", serif;
  line-height: 40px;
  text-align: justify;
  color: rgb(68, 67, 67);
}

/*FOOTER*/
footer {
  display: grid;
  grid-auto-flow: column;
  box-sizing: border-box;
  background-color: black;
  padding: 0 20px 0px 20px;
  width: 100%;
  height: 50px;
  position: sticky;
  bottom: 0;
  justify-content: space-between;
}

footer span {
  color: rgba(160, 35, 35, 0.822);
  font-family: "Lobster", cursive;
  font-size: 20px;
  animation-name: brilho;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

span:nth-of-type(2) {
  animation-delay: 0.15s;
}

span:nth-of-type(3) {
  animation-delay: 0.5s;
}

span:nth-of-type(4) {
  animation-delay: 0.75s;
}

span:nth-of-type(5) {
  animation-delay: 0.95s;
}

span:nth-of-type(6) {
  animation-delay: 1.25s;
}

span:nth-of-type(7) {
  animation-delay: 1.5s;
}

span:nth-of-type(8) {
  animation-delay: 1.75s;
}

span:nth-of-type(9) {
  animation-delay: 1.95s;
}

span:nth-of-type(10) {
  animation-delay: 2.25s;
}

span:nth-of-type(11) {
  animation-delay: 2.5s;
}

span:nth-of-type(12) {
  animation-delay: 2.75s;
}

span:nth-of-type(13) {
  animation-delay: 3s;
}

footer div img {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a .footer_link_git {
  width: 120px;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */